# History files
.Rhistory
.Rapp.history
.R*

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#Data files
*.pdf
*.txt
*.csv
*.rds

#Data directory
data/*
#Auth files
.httr-oauth

# Compressed files
*.zip
*.bz2
*.Z
*.gz

#swap files
.*.swp
.Rproj.user
